 body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
 }

 .bottom_container {
   background-color: #00adb5;
   padding: 50px 0 10px;
 }

 .butn {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #00adb5;
  padding: 10px 20px 10px 20px;
  margin-bottom: 100px;
  text-decoration: none;
}

.butn:hover {
  background: #00d2d9;
  text-decoration: none;
}

 .chillies-picture {
   border-radius: 50%;
   width: 20%;
   float: right;
   margin-left: 30px;
 }

 .camera-image{
   width: 22%;
 }

 .contact-me{
   padding: 80px;
 }

 .contact_message{
   margin: 40px auto 60px;
 }

 .copyright{
   font-size: 0.9rem;
   padding: 20px 0;
 }

 .computer-picture {
   border-radius: 50%;
   width: 20%;
   float: left;
   margin-right: 30px;
 }

 .footer-link
 {
   padding: 0 4px;
 }

 h1 {
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   font-size: 5.625rem ;
   color: #393e46;
 }

 h2 {
   font-family: 'Raleway', sans-serif;
   font-size: 2.5rem;
   color: #00adb5;
 }

 h3 {
   font-family: 'Raleway', sans-serif;
 }

 hr {
   border-style: none;
   border-top-style: dotted;
   border-color: #393e46;
   border-width: 7px;
   width: 3%
 }

 .middle_container {
   background-color: #ece8d9;
 }

 p{
   line-height: 2;
 }

 .profile{
   padding: 80px;
 }

 .profile-picture {
   border-radius: 50%;
   height: 200px;
 }

 .skills{
   padding: 80px;
 }

 .skill-row {
   margin: 100px auto 100px auto;
   text-align: left;
   width: 50%;
 }

 .socialmedia-image{
   width: 40px;
 }

 .title-subline{
   color: #393e46;
   font-weight: normal;
 }

 .sun-image {
   position: absolute;
   right: 250px;
   top: 50px;
   width: 12%;
 }

 .top_container {
   background-color: #f8b500;
   position: relative;
   padding-top: 80px;
 }
